# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore bash helpers.
/*.sh

# Ignore images.
images/*.jpg
images/*.png
images/*.gif

# Ignore texts.
/texts/*.txt

# Ignore python compiled source.
*.pyc
