<div class="container">
  <h3 class="text-muted">Eco Identifier</h3>

  <div class="jumbotron">
    <h2>Verify product</h2>
    <p>Take an image from your mobile of the label of a product and we will tell you if this is considered ecological or not.</p>

    <% if !notice.nil? %>
      <div class="alert alert-success">
        <%= notice %>
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      </div>
    <% end %>

    <% if !alert.nil? %>
      <div class="alert alert-danger">
        <%= alert %>
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      </div>
    <% end %>

    <%= form_tag(upload_picture_path, multipart: true, class: 'form-horizontal') do %>
      <div class="form-group">
        <div class="col-sm-12">
          <a class="btn btn-default" href="javascript:;">
            Take a picture ...
            <%= file_field_tag :picture, class: 'form-file-input', onchange: '$("#upload-file-info").html($(this).val());', accept: 'image/*', capture: 'camera' %>
          </a>
          <div class="form-file-span">
            <span class="label label-info" id="upload-file-info"></span>
          </div>
        </div>
      </div>
    <% end %>

    <div class="thumbnail" id="preview-container" style="display: none;">
      <h4 class="text-center">Preview</h4>
      <img id="preview-image" src="#">
    </div>
  </div>

  <div class="footer">
    <p>&copy; Ramón González 2014</p>
  </div>
</div>
